<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/normalize.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap.min.css')) }}">

    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/font-awesome.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/themify-icons.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/flag-icon.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/cs-skin-elastic.css')) }}">
    <!-- <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/bootstrap-select.less')) }}"> -->

    <!-- Morris chart -->
    <link rel="stylesheet" href="{{ asset('assets/morris.js/morris.css') }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/scss/style.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/dataTables.bootstrap.min.css')) }}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>
<body class="">
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><h2>ILAFIA</h2></a>
            <a class="navbar-brand hidden" href="./"><h3>ILAFIA</h3></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{{ path('il_bank_homepage') }}"> <i class="menu-icon fa fa-dashboard"></i>Tableau de Bord </a>
                </li>
                <h3 class="menu-title">Souscriptions</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Souscription Mobile</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="{{ path('il_bank_souscription_mobile_list') }}">Liste des souscriptions</a></li>
                        <li><i class="fa fa-puzzle-piece"></i><a href="{{ path('il_bank_souscription_mobile_resiliation_list') }}">Liste des resiliations</a></li>
                        <li><i class="fa fa-id-badge"></i><a href="{{ path('il_bank_souscription_mobile_new') }}">Nouvelle souscription</a></li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Souscription Banque</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i><a href="{{ path('il_bank_souscription_banque_list') }}">Liste des souscriptions</a></li>
                        <li><i class="fa fa-table"></i><a href="{{ path('il_bank_souscription_banque_resiliation_list') }}">Liste des resiliations</a></li>
                        <li><i class="fa fa-table"></i><a href="{{ path('il_bank_souscription_banque_new') }}">Nouvelle souscription</a></li>
                    </ul>
                </li>

                <h3 class="menu-title">Transferts</h3><!-- /.menu-title -->

                <li class="active">
                    <a href="{{ path('il_bank_transfert') }}"> <i class="menu-icon fa fa-star"></i>Liste des transferts </a>
                </li>


                <h3 class="menu-title">Analytiques</h3><!-- /.menu-title -->
                <li class="active">
                    <a href="{{ path('il_bank_report') }}"> <i class="menu-icon fa fa-star"></i>Report Managers </a>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">


                    <div class="dropdown for-message">

                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">You have 4 Mails</p>
                            <a class="dropdown-item media bg-flat-color-1" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/1.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-4" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/2.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-5" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/3.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                        <p>Hello, this is an example msg</p>
                                </span>
                            </a>
                            <a class="dropdown-item media bg-flat-color-3" href="#">
                                <span class="photo media-left"><img alt="avatar" src="images/avatar/4.jpg"></span>
                                <span class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ absolute_url(asset('assets/images/avatar.png')) }}" alt="Avatar Utilisateur">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="{{ path('il_bank_user_profile')}}"><i class="fa fa- user"></i>Mon Profil</a>
<!--
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>
                        <a class="nav-link" href="#"><i class="fa fa -cog"></i>Préférence</a>
-->
                        <a class="nav-link" href="/logout"><i class="fa fa-power -off"></i>Déconnexion</a>
                    </div>
                </div>

                <div class="language-select dropdown" id="language-select">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                        <i class="flag-icon flag-icon-us"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="language" >
                        <div class="dropdown-item">
                            <span class="flag-icon flag-icon-fr"></span>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-es"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-us"></i>
                        </div>
                        <div class="dropdown-item">
                            <i class="flag-icon flag-icon-it"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->

    {% block breadcrumb %} {% endblock %}

    <div class="content mt-3">


            <div class="row">
                {% block message %}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                       <div class="col-md-12">
                           <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                               <span class="badge badge-pill badge-warning">Felicitation</span>
                               {{ flashMessage }}.
                               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                   <span aria-hidden="true">×</span>
                               </button>
                           </div>
                       </div>

                    {% endfor %}
                {% endblock %}
            </div>



        {% block content %} {% endblock %}


    </div> <!-- .content -->
</div><!-- /#right-panel -->

<!-- Right Panel -->

<script src="{{ absolute_url(asset('assets/js/vendor/jquery-2.1.4.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/popper.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/plugins.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/jquery.dataTables.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/dataTables.bootstrap.min.js')) }}"></script>
<script src="{{ absolute_url(asset('assets/js/bootstrap.min.js')) }}"></script>

<script src="{{ absolute_url(asset('assets/js/widgets.js')) }}"></script>
<script src="{{ asset('assets/raphael/raphael.min.js') }}"></script>
<script src="{{ asset('assets/morris.js/morris.min.js') }}"></script>
<script src="{{ absolute_url(asset('assets/js/main.js')) }}"></script>

<script>

</script>
</body>

</html>

{% block scripts %} {% endblock %}